<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7b21f9da-5520-43bb-b458-61c355b9723d/resourceGroups/5110FishingRadar2021ResourceGroup/providers/Microsoft.Web/sites/5110FishingRadar</ResourceId>
    <ResourceGroup>5110FishingRadar2021ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
    <SiteUrlToLaunchAfterPublish>https://5110fishingradar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>5110fishingradar.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>5110FishingRadar</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$5110FishingRadar</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>