@page
@model ContosoCrafts.WebSite.Pages.Product.MyPostsModel
@{
}

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

@*Header for the page*@
<h1>Image Gallery Test</h1>

@* Image gallery prototype*@
<body>
    @*Placeholder for a user post, just uploads from Github Issue*@
    <div class="image-gallery">
        <div class="image-box">
            <img src="https://user-images.githubusercontent.com/30267616/137609378-76b31690-3ca8-40ae-b4b3-f74b7bada2ea.jpg" alt="penguin.jpg">
            <div class="overlay">
                <div class="details">
                    <h3 class="title">
                        <a href="#">Title Here</a>
                    </h3>
                    <span class="category">
                        <a href="#">Category</a>
                    </span>
                </div>
            </div>
        </div>

        @*Placeholder for a user post, just uploads from Github Issue*@
        <div class="image-box">
            <img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg">
            <div class="overlay">
                <div class="details">
                    <h3 class="title">
                        <a href="#">Title Here</a>
                    </h3>
                    <span class="category">
                        <a href="#">Category</a>
                    </span>
                </div>
            </div>
        </div>

        @*Placeholder for a user post, just uploads from Github Issue*@
        <div class="image-box">
            <img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg">
            <div class="overlay">
                <div class="details">
                    <h3 class="title">
                        <a href="#">Title Here</a>
                    </h3>
                    <span class="category">
                        <a href="#">Category</a>
                    </span>
                </div>
            </div>
        </div>

        @*Placeholder for a user post, just uploads from Github Issue*@
        <div class="image-box">
            <img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg">
            <div class="overlay">
                <div class="details">
                    <h3 class="title">
                        <a href="#">Title Here</a>
                    </h3>
                    <span class="category">
                        <a href="#">Category</a>
                    </span>
                </div>
            </div>
        </div>

    </div>

    @*Placeholder button to take a user image input file, and upload 
        it to the page. Currently just takes the input and 
        nothing is done with the input.*@
    <input type="file" , id="file" accept="image/*">
    <label class ="upload-img-btn" for="file">
        <span class="material-icons">
            add_photo_alternate
        </span> &nbsp;
        Upload Image
    </label>

</body>