@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<body style="text-align: justify">

    <div class="team-section">


        <p>
            Welcome to Fishing Radar! The goal of this website is to provide a social media platform focused on anything fishing
            related. Users can feel free to share pictures of fish they caught, where they caught it, cool fishing supply stores, and more.
        </p>

        <h2>About the Development Team</h2>

        <p>
            We are a team of 4 developers, all Master of Computer Science students at Seattle University. We all share a passion
            for fishing, and have skillsets in programming and design, and have decided to team up to build this website for anyone who shares
            the same passion for fishing. If you have any feedback or would like to get in touch with us, please see our contact information
            below and reach out. Thank you!
        </p>

        <h1>The Team</h1>
        <span class="border"></span>
        <div class="ps">
            <a href="#p1"><img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg"></a>
            <a href="#p2"><img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg"></a>
            <a href="#p3"><img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg"></a>
            <a href="#p4"><img src="https://user-images.githubusercontent.com/30267616/137609424-ed9abc2f-f915-47d3-a5cd-3b108425c490.jpg" alt="riverMonster_1.jpg"></a>
        </div>

        <div class="section" id="p1">
            <span class="name">Francis Kogge</span>
            <span class="border"></span>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>

        <div class="section" id="p2">
            <span class="name">Jason Wang</span>
            <span class="border"></span>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>

        <div class="section" id="p3">
            <span class="name">Mark Taylor</span>
            <span class="border"></span>
            <p>
                Hi, I'm Mark! I'm not really a fan of fishing, but I care about alot about marine environment
                and that's why I wanted to make this site. More personal info blah blah blah blah.
            </p>
        </div>


        <div class="section" id="p4">
            <span class="name">William Yu</span>
            <span class="border"></span>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>

    </div>



</body>