@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>This is the about page. It will contain information about this website and its features.
    Will add details later.</p>
