@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<body style="text-align: justify">

    <div class="team-section">

        <p class="white-text">
            Welcome to Fishing Radar! The goal of this website is to provide a social media platform focused on anything fishing
            related. Users can feel free to share pictures of fish they caught, where they caught it, cool fishing supply stores, and more.
        </p>

        <h2 class="white-text">About the Development Team</h2>

        <p class="white-text">
            We are a team of 4 developers, all Master of Computer Science students at Seattle University. We all share a passion
            for fishing, and have skillsets in programming and design, and have decided to team up to build this website for anyone who shares
            the same passion for fishing. If you have any feedback or would like to get in touch with us, please see our contact information
            below and reach out. Thank you!
        </p>

        <h1 class="white-text">The Team</h1>
        <span class="border"></span>
        <div class="ps">
            <a href="#p1"><img src="/Francis.jpg" alt="Picture of Francis"></a>
            <a href="#p2"><img src="/Jason.jpg" alt="Picture of Jason"></a>
            <a href="#p3"><img src="/MarkSmaller.jpg" alt="Picture of Mark"></a>
            <a href="#p4"><img src="/William.png" alt="Picture of William"></a>
        </div>

        <div class="section white-text" id="p1">
            <span class="name">Francis Kogge</span>
            <span class="border"></span>
            <p>
                Hi, I'm Francis! During the spring and summer, fishing is one of my favorite outdoor activities. I love
                the serenity of the water and meeting fellow fishers. Hope you enjoy the website and share your favorite
                spots to fish and awesome catches!
            </p>
        </div>

        <div class="section" id="p2">
            <span class="name">Jason Wang</span>
            <span class="border"></span>
            <p>
                Hello, I'm Jason! I love do some leisure activities during my spare time, and going fishing is one of
                them. Thus, it is the reason why I wanted to design this web. with my teammates and allow other fishing
                lovers to share their post, discuss with others, and find new place to go fishing. : )
            </p>
        </div>

        <div class="section" id="p3">
            <span class="name">Mark Taylor</span>
            <span class="border"></span>
            <p>
                Hi, I'm Mark! I'm not really a fan of fishing, but I care a lot about the marine environment.
                I think documenting and encouraging people to learn more about marine life will be helpful 
                for conservation; that's what motivated me to do this project!
            </p>
        </div>

        <div class="section" id="p4">
            <span class="name">William Zhong</span>
            <span class="border"></span>
            <p>
                Hi, I'm William! I am a big fan of fishing. I have been fishing all around the U.S since freshmen year in college.  
                I have just moved to the seattle area so I brougut up the idea of developing this website to get some information about 
                fishing around seattle. I am looking forward to do some trout fishing next spring! Hopefully, this website will help you
                as well when it comes to fishing. 
            </p>
        </div>
    </div>
</body>