@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to Fishing Radar! The goal of this website is to provide a social media platform focused on anything fishing
    related. Users can feel free to share pictures of fish they caught, where they caught it, cool fishing supply stores, and more.
    </p>
