@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>
    Welcome to Fishing Radar! The goal of this website is to provide a social media platform focused on anything fishing
    related. Users can feel free to share pictures of fish they caught, where they caught it, cool fishing supply stores, and more.
</p>

<h2>About the Development Team</h2>

<p>
    We are a team of 4 developers, all Master of Computer Science students at Seattle University. We all share a passion
    for fishing, and have skillsets in programming and design, and have decided to team up to build this website for anyone who shares
    the same passion for fishing. If you have any feedback or would like to get in touch with us, please see our contact information
    below and reach out. Thank you!
</p>

<h3>Francis Kogge</h3>
<p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
    sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<h3>Jason Wang</h3>
<p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<h3>Mark Taylor</h3>
<p>
    Hi, I'm Mark! I'm not really a fan of fishing, but I care about alot about marine environment
    and that's why I wanted to make this site. More personal info blah blah blah blah.
</p>

<h3>William Zhong</h3>
<p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>