@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "FishingRadar";
}

<h1 class="header-text">FishingRadar</h1>


@*Create link that adds new products to the home page/index page*@
<div class="container">
    <a asp-page="/Posts/Create" class="btn btn-link upload-btn fas fa-upload"> Upload Post</a>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

