@page
@model ContosoCrafts.WebSite.Pages.MapModel
@{
    ViewData["Title"] = "Map";
}

<h1>@ViewData["Title"]</h1>

<p>Browse our favorite spots to fish!</p>

<div>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CidasMCwKj785kQVDi1EZOETwwd1xa8w" width="640" height="480"></iframe>
</div>