@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="white-text">@ViewData["Title"]</h1>

<p class="white-text">Use this page to detail your site's privacy policy.</p>

<body>
    <div class="team-section white-text">
        FishingRadar website does not share personal data with third parties with except in the
        following four situations: (1) when individuals have provided prior consent, (2) when third parties
        act as agents of the website and adhere to data privacy standards that meet or exceed the
        our standards, (3) when participating in higher education data exchange consortia or
        research studies where providing such data is necessary and the parties receiving the data
        adhere to data privacy standards that meet or exceed the our website’s standards, and (4) when
        compelled to do so under the law. Disclosure in the fourth situation requires approval of our legal department
        and a valid legal request, such as a subpoena.
    </div>
</body>