<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fish Radar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <!--Adding favicon to the pages-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!--setting the scrolling format-->
    <style>
        #navbar {
            position: fixed;
            display: block;
            transition: top 0.3s;
        }
    </style>

    <!--setting the scrolling Navbar Makes so the navbar isn't sticky-->
    <script>var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;

            if (currentScrollPos <= 0) {
                document.getElementById("navbar").style.top = "0";
            }
            else if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-120px";
            }
            prevScrollpos = currentScrollPos;
        }</script>
</head>

<body>
    <nav id="navbar" class="topNav navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container no-margin">
            <img src="~/Logo.png" alt="Logo image" width="100" length="100" />
            <a class="navbar-brand" asp-area="" asp-page="/Index">Fishing Radar</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent "
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <ul class="links-centered">
                <li><a asp-area="" asp-page="/Index">Home</a></li>
                <li><a asp-area="" asp-page="/About">About</a></li>
                <li><a asp-area="" asp-page="/Map">Map</a></li>
                <li><a asp-area="" asp-page="/Posts/Index">View Posts</a></li>
                <li><a asp-area="" asp-page="/Posts/MyPosts">My Posts</a></li>
                <li><a asp-area="" asp-page="/Guide">Find Fishing Guide</a></li>
            </ul>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"></div>

        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--FOOTER-->
    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; 2021 - FishRadar - Team Sushi - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>