@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*CSS for side nav bar--------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 185px;
}

.header-text {
    color: #6495ED;
}

/*Text color settings*/
.black-text {
    color: black;
}

.white-text {
    color: white;
}
/*-----------------------SEARCH BAR CSS-----------------------*/

.search-box{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}
.search-box:hover > .search-text {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #6495ED;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


/*-----------------------END OF SEARCH BAR CSS----------------*/
/*------- CSS for image gallery layout ---------------*/
.image-gallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

.image-gallery .image-box {
    position: relative;
    background-color: #d7d7d8;
    overflow: hidden;
}

.image-gallery .image-box:nth-child(7n+1) {
    grid-column: span 2;
    grid-row: span 2;
}

.image-gallery .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

/*Hoovering over image increases size*/
.image-gallery .image-box:hover img {
    transform: scale(1.1);
}

/*Creates an overlay when over the items
    provides a title and description
*/
.image-gallery .image-box .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fafafaf2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
    z-index: 1;
}

/*When mouse is over images overlay is displayed*/
.image-gallery .image-box:hover .overlay {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 1;
}

.image-gallery .image-box .details {
    text-align: center
}

.image-gallery .image-box .details .title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.image-gallery .image-box .details .category {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.image-gallery .image-box:hover .details .title {
    top: 0px;
    opacity: 1;
    visibility: visible;
    transition all 0.3s ease;
}

.image-gallery .image-box:hover .details .category {
    bottom: 0px;
    opacity: 1;
    visibility: visible;
    transition all 0.3s ease;
}

.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a{
    color: #252152;
    text-decoration: none
}

/*add responsiveness to gallery*/
/*change image scale based on the screen real estate*/
@media(max-width:768px){
    .image-gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
    }
    .image-gallery .image-box:nth-child(7n+1) {
        grid-column: unset;
        grid-row: unset;
    }
}

/*------- CSS for image gallery layout ---------------*/

/*CSS for image upload button*/
input[type="file"]{
    display: none;
}
.upload-img-btn {
    color: white;
    height: 60px;
    background-color: orange;
    position: absolute;
    margin: auto;
    bottom: 50px;
    left: 450px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

/*CSS for image upload button*/


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.card-columns .card {
   color: black;
}

.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.card-footer {
    background: #fbfafd;
}

.comment-h3 {
    color: black;
}


/*TOP NAVBAR CSS*/

.topNav {
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
    position: relative;
    background: #435cbb; /*#6495ED; */
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    opacity: 1;
}
.topNav ul {
    display: flex;
    padding: 65px 0 0px;
    float: right;
}

.topNav ul li {
    list-style: none;
}

.topNav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 50px;
}

.topNav ul li a:hover,

.topNav ul li a.active {
    background: #1E90FF;
}

/*links to be centered on the navigation bar for all screen resolutions*/
.links-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); /* Older Gecko browser */
    -ms-transform: translate(-50%, -50%); /* IE9+ */
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*END OF TOP NAVBAR CSS*/

/* Fishing Radar Banner name css*/
a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    text-align: left;
    word-break: break-all;
    padding: 0px;
}

/* Logo to be placed to the left corner*/
.no-margin {
    margin: 0;
    padding: 0px;
    border: 0px;
}

/* Provide sufficient contrast against white background */
a {
    color: #6495ED; /*#0366d6;*/
}

.btn-primary {
    color: #fff;
    background-color: #6495ED;
    border-color: #6495ED;
}
.btn-primary:hover {
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
p {
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-family: 'Nunito', sans-serif;
}
ul {
    font-family: 'Nunito', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
    background: #435cbb; /*#6495ED*/
/*    opacity: 1;*/
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    opacity: 0.8;
}
.bg-footer {
/*    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    opacity: 0.8;*/
}


/*ABOUT PAGE CSS*/
.team-section {
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}

.team-section h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}

.ps {
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img {
    width: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img {
    filter: none;
}

.section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target {
    height: auto;
}

.name {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

/*END OF ABOUT PAGE CSS*/

/*Upload Post Button*/
.upload-btn {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: mediumseagreen;
    border-radius: 20px;
    display: inline-block;
    margin-bottom:10px;
}

.upload-btn:hover {
    color: mediumseagreen;
    background-color: white;
    border-color: white;
}
/*End of Upload Post Button*/